name: Main

on:
  push:
    branches:
      - main

permissions:
  contents: read
  checks: write
  statuses: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21

      - name: Build Android - Main
        continue-on-error: false
        run: ./gradlew :app:assembleDebug

      - name: Validate Screenshot Tests
        continue-on-error: false
        run: ./gradlew validateDebugScreenshotTest

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: caducity-debug-apk
          path: app/build/outputs/apk/debug/*.apk
          retention-days: 5
