name: PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write
  statuses: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build Android - PR
        continue-on-error: false
        run: ./gradlew :composeApp:assembleDebug
